@import "tailwindcss";

@theme {
  --font-dm-serif-display: var(--font-dm-serif-display);
  --font-dm-sans: var(--font-dm-sans);
  --color-dark-blue: #001d3d;
  --color-custom-orange: #ffd60a;
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
}
